{% extends 'rhymesapp/base.html' %}
{% load staticfiles %}
{% block content %}
   
   <body>
   <style>
        body {
            background-color: deepskyblue;
        }
    </style>
    <html>
            {% if user.is_authenticated %}
                <div class="page-container">

                    <h2 class="top-menu">Hello {{ user.username }},</h2>

                </div>
            {% endif %}
            <div class="welcome">
                <h1>Welcome to Story Time!</h1>
                <p>A place to find all of your favorite nursery rhymes</p>
                <br>
                <h2>Does Your Child Love Stories?</h2>
                <p>......</p>
                <br>
                <h2>Do Your Kids Not Like Reading?</h2>
                <p>......</p>
                <br>
                <h2>What You Will Find Here:</h2>
                <p>......</p>
            </div>
    </body>
    </html>
{% endblock %}
