{% extends 'rhymesapp/base.html' %}
{% load staticfiles %}
{% block content %}
   
   <body>
   <style>
        body {
            background-color: #F3EBF6;
        }
    </style>
    <html>
            {% if user.is_authenticated %}
                <div class="page-container">

                    <h2 class="top-menu">Hello {{ user.username }},</h2>

                </div>
            {% endif %}
            <div class="welcome">
                <h1>Welcome to Story Time!</h1>
                <h3>A place to find all of your favorite nursery rhymes.</h3>
                <br>
                <img src="{% static "images/reading2.png" %}" width="350" height="300" />
                <br>
                <h2>Does Your Child Love Stories?</h2>
                <p>When you tell your little one fairy fairy tales or whatever it may be, do they listen so intently
                    they don't take their eyes off of you while not breaking the silence? While your children are lost in
                    these amazing classic stories, they won't even realize it and they will be learning life building
                    character traits as well as a love of reading that they may not have recognized yet.</p>
                <br>
                <h2>Do Your Kids Not Like Reading?</h2>
                <p>It's our goal to get them to fall in love with short stories so they will develop
                    a lifelong passion for reading! Here they will be able to listen to adults as well as other kids just
                    like them that they can relate to read books to them while they follow along online!</p>
                <br>
                <h2>What You Will Find Here:</h2>
                <p>* Free Short Stories, Poems, and Nursery Rhymes for Kids </p>
                <p>* Short Audio Readings for Children</p>
                <p>* Printable Copies of the Short Stories, Poems, and Nursery Rhymes</p>
                <p>* Children's Book Reviews and so much more!</p>
                <br>
                <h4>With Christmas right around the corner, what could be a more perfect gift than supplying your loved one's imagination?</h4>
                <img src="{% static "images/santa.png" %}" width="400" height="400" />
            </div>
    </body>
    </html>
{% endblock %}
