{% extends 'rhymesapp/base.html' %}
{% load staticfiles %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Itsy Bitsy Spider</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<style>
    body{
        background-color: #F3EBF6;
    }
</style>
<div class="content container">
    <h2>Itsy Bitsy Spider</h2>
    <font size="4">
        The itsy bitsy spider climbed up the water spout.<br>

        Down came the rain and washed the spider out.<br>

        Out came the sun and dried up all the rain<br>

        and the itsy bitsy spider climbed up the spout again<br>
    </font>
   <br>
    <a href="{% static "theRhymes/SpyderSpout.pdf" %}" download = "Download PDF">
    <span class = "btn btn-primary">Download PDF</span></a>
    <br><br>
    <audio controls>
        <source src = "{% static "theRhymes/Spuder.mp4" %}"
        Your browser does not support the audio element.
    </audio>
</div>
<br>
<div class="links">
    <a href="{% url 'rhymesapp:home' %}" class="row"><span
        class="btn btn-primary">Go Home</span></a>
    <br>
    <a href="{% url 'rhymesapp:nurseryList' %}" class = row>
    <span class = "btn btn-primary">Go Back to Browse</span></a>
</div>
</body>
</html>

{% endblock %}