{% extends 'rhymesapp/base.html' %}
{% block content %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Nursery Rhymes</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {
            background-color: #F3EBF6;
        }
    </style>
    <div class="content container">
        <h2>Browse our Collection of Nursery Rhyme</h2>
        <li>
            <a href="{% url 'rhymesapp:nurseryPage' %}"><h3>A Nursery Rhyme Page</h3></a>
            <a href="{% url 'rhymesapp:londonBridge' %}"><h3>London Bridge</h3></a>
            <a href="{% url 'rhymesapp:itsySpider' %}"><h3>Itsy Bitsy Spider</h3></a>
            <a href="{% url 'rhymesapp:littleStar' %}"><h3>Twinkle Twinkle Little Star</h3></a>
            <a href="{% url 'rhymesapp:jackJill' %}"><h3>Jack and Jill</h3></a>
            <a href="{% url 'rhymesapp:humptyDumpty' %}"><h3>Humpty Dumpty</h3></a>
            <a href="{% url 'rhymesapp:hickoryDock' %}"><h3>Hickory Dickory Dock</h3></a>
        </li>
    </div>
    <div class="links">
        <a href="{% url 'rhymesapp:home' %}" class="row"><span
        class="btn btn-primary">Go Home</span></a>
    </div>
    </body>
    </html>
{% endblock %}
